.dashboard {
    height: 80vh;
}

.logout-button:hover {
    cursor: pointer;
}

.logout-button-container {
    display: flex;
    width: 80%;
    margin-top: 10vh;
    align-items: flex-end;
    justify-content: flex-end;
}

a:visited {
    color: rgb(231, 15, 15);
}