<div class="dashbpoard">


<h1>Trainer Page</h1>



<div *ngIf="pokemonCollection == null; else elseBlock">
    <p> Hello, {{ trainerName }}! You don't have any pokemons now. Go to Pokemon Catalogue to find dream pokemons.</p>
    <a routerLink="/pokemons">Catalogue</a>
</div>

<ng-template #elseBlock>
    <h2> Hello, {{ trainerName }}!</h2>
    <h3>Here are your collected pokemons</h3>
    <a 
      class="collectedPokemonCard" 
      *ngFor="let myPokemon of pokemonCollection"
      routerLink="/pokemons/{{myPokemon.id}}">
        <h4>{{ myPokemon.name.substring(0,1).toUpperCase()+myPokemon.name.substring(1) }}</h4>
        <img [src]="myPokemon.sprites.front_default" [alt]="myPokemon.name"/>
    </a>
</ng-template>


    
</div>