.dashboard {
    padding-top: 3vh;
    height: 80vh;
}

.catalogue-link:visited {
    color: #000;
}

.logout-button:hover {
    cursor: pointer;
}

.logout-button-container {
    display: flex;
    width: 80%;
    min-height: 50%;
    margin-top: 10vh;
    align-items: flex-end;
    justify-content: flex-end;
}

a:visited {
    color: rgb(231, 15, 15);
}