.yellow-background {
    background-color:rgb(255, 255, 0);
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
}

.login-button {
    height: 7vh;
}

.login-button-image {
    height: 6vh;
}

.login-button:hover {
    cursor: pointer;
}

.alert-container {
    display: flex;
    width: 90vw;
    justify-content: center;
    height: 5vh;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: rgb(255, 0, 0);
    font-weight: 700;
    width: 30vw;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
}