<h1>Pokemon Trainer</h1>>

<p>Choose and train pokemons and become a really cool trainer.</p>

<div class="loginForm">
    <input 
        type="text"
        placeholder="Enter your name to become a trainer"
        (keyup.enter)="onLogin(username)"
        [formControl]="username"
        required/>
    <span (click)="onLogin(username)">
        <img width="15px" src="../../../assets/images/LoginButton.png" alt="login button"/>
    </span>
</div>

<div 
    *ngIf="username.invalid && (username.dirty || username.touched)"
    class="alert">
        <div *ngIf="username.errors?.required">
            Name is required.
        </div>
        <div *ngIf="username.errors?.minlength">
            Name must be at least 3 characters long.
        </div>
        <div *ngIf="username.errors?.maxlength">
            Name must be maximum 20 characters long.
        </div>
</div>
