<header class="vh-100 dt w-100 yellow-background">
    <div class="dtc v-mid tc blue ph3 ph4-l">
        <h1 class="f6 f2-m f-subheadline-l fw6 tc">Pokemon Trainer</h1>

        <img src="../../../assets/images/pokemon.png" width="40%" alt="pokemon logo"/>

        <p class="f5 f4-m f3-l fw2 black-90 mt0 lh-copy">Choose and train pokemons and become a really cool trainer.</p>

        <div class="input-field">
            <input 
                class="ba pa2 w-50 input-field-text"
                type="text"
                placeholder="Enter your name to become a trainer"
                (keyup.enter)="onLogin(username)"
                [formControl]="username"
                required/>
            <div class="login-button" (click)="onLogin(username)">
                <img 
                class="login-button-image" 
                src="../../../assets/images/LoginButton.png" 
                alt="login button"/>
            </div>
            
        </div>

        <div 
            *ngIf="username.invalid && (username.dirty || username.touched)"
            class="alert">
                <div *ngIf="username.errors?.required">
                    Name is required.
                </div>
                <div *ngIf="username.errors?.minlength">
                    Name must be at least 3 characters long.
                </div>
                <div *ngIf="username.errors?.maxlength">
                    Name must be maximum 20 characters long.
                </div>
        </div>
    </div>
</header>
